## Processamento de Fundos

In [1]:
from movimentos_transfer import MovimentosTransfer
from datetime import datetime

In [2]:

movimentos_transfer = MovimentosTransfer('44921' ,
                                         'CAPITANIA YIELD 120 CRÉDITO PRIVADO FI COTAS FUNDOS DE INVESTIMENTO MULTIMERCADO CRÉDITO PRIVADO',
                                        datetime(2023 , 9 , 11) , 
                                        datetime(2023 , 9 , 14) 
                                        )
movimentos_transfer.atualizar_fundo()

11/09/2023
-codigo 44921 -dataProcessamento 2023-09-11 -cota_processamento 1,04326943 -dataPosicao 2023-09-11 -tipo abertura -status FECHADO
12/09/2023
-codigo 44921 -dataProcessamento 2023-09-12 -cota_processamento 1,04389315 -dataPosicao 2023-09-12 -tipo abertura -status FECHADO
13/09/2023
-codigo 44921 -dataProcessamento 2023-09-13 -cota_processamento 1,04451676 -dataPosicao 2023-09-13 -tipo abertura -status FECHADO

## Resultado Conciliação

In [ ]:
import pandas as pd
from conciliar import atualizar_conciliacao , gerar_conciliacao
from datetime import datetime

In [2]:
fundo = {
    "codigo_jcot": "44921" ,
    "nome": "CAPITANIA YIELD 120 CRÉDITO PRIVADO FI COTAS FUNDOS DE INVESTIMENTO MULTIMERCADO CRÉDITO PRIVADO" ,
}

In [3]:
data = datetime(2023, 8 , 9)
atualizar_conciliacao(data , fundo)
df = gerar_conciliacao(data)
df

{'codigo': '44921', 'dataPosicao': '2023-08-09'}
fora da jcot mas está no maps
['XP 9994877']
fora da maps mas está no jcot
['XP 7901289']

Empty DataFrame
Columns: [cd_jcot, cd_cotista, Data Referência, Investidor, QtdTotalMaps, qtdJcot, diferenca]
Index: []